<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="uchet_sredstvEntities" connectionString="metadata=res://*/Models.UchetSredstv.csdl|res://*/Models.UchetSredstv.ssdl|res://*/Models.UchetSredstv.msl;provider=System.Data.SqlClient;provider connection string='data source=LAPTOP-MGCGHMJC\SQLEXPRESS;initial catalog=&quot;учет средств&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" /></connectionStrings></configuration>